<form name="register" id="register-form" class="inv-management" action="/account/register" method="post">
    <% if (title) { %>
        <h1 id="register-title"><%= title %></h1>
        <% } else {
        res.redirect('/')
    } %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
    <% } %>
    <fieldset>
        <label for="name">First name<input type="text" name="account_firstname" id="accountFirstname" 
            required value="<%= locals.account_firstname %>"></label>
        <label for="name">Last name<input type="text" name="account_lastname" 
            required value="<%= locals.account_lastname %>"></label>
        <label for="email">Email address<input type="email" name="account_email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" 
            required value="<%= locals.account_email %>"></label>
        <label for="password">Password:<input type="password" name="account_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}" 
            required></label>
        <input id="submit" type="submit" value="Register">
    </fieldset>
</form>