<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
    res.redirect('/')
} %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
    <% if (error.msg !== 'Invalid value') { %>
        <li><%= error.msg %></li>
  <%  }}) %>
   </ul>
<% } %>
<form name="addNewVehicle" class="inv-management" id="addNewVehicle-form" action="/inv/newvehicle" method="post">
    <fieldset>
        <label for="">Classification <%- classList %></label>
        <label for="">Make<input type="text" name="inv_make" placeholder="Min of 3 characters" minlength="3" required value="<%= locals.inv_make %>"></label>
        <label for="">Model<input type="text" name="inv_model" placeholder="Min of 3 characters" minlength="3" required value="<%= locals.inv_model %>"></label>
        <labetel for="">Description<textarea type="text" name="inv_description" rows="3" required value="<%= locals.inv_description %>"></textarea></label>
        <label for="">Image Path<input type="text" name="inv_image" required value="/images/vehicles/no-image.png"></label>
        <label for="">Thumbnail Path<input type="text" name="inv_thumbnail" required value="/images/vehicles/no-image.png"></label>
        <label for="">Price<input type="number" name="inv_price" placeholder="decimal or integer" pattern ="[0-9]" required value="<%= locals.inv_price %>"></label>
        <label for="">Year<input type="number" name="inv_year" placeholder="4-digit year" pattern ="[0-9]" minlength="4" maxlength="4" required value="<%= locals.inv_year %>"></label>
        <label for="">Miles<input type="number" name="inv_miles" placeholder="digits only" pattern ="[0-9]" required value="<%= locals.inv_miles %>"></label>
        <label for="">Color<input type="text" name="inv_color" required value="<%= locals.inv_color %>"></label>
        <input id="submit" type="submit" value="Add Vehicle">
    </fieldset>
</form>